#about-me {
    margin-top: 4%;
    margin-bottom: 15%;
}

#about-me-box {
    padding: 40px;
}

#profile-pic-box {
    padding: 70px;
}

#profile_pic {
    max-width: 450px;
    max-height: 450px;
    box-shadow:0 0 8px #605856;
    border-radius: 10%;
}

a:hover {
    color: #DAA89B;
    text-decoration: none;
}