.container {
    padding: 20px;
    margin-top: 4%;
}

.resumeDiv {
    box-shadow:0 0 8px #605856;
    padding: 2%;
    width: 85%;
    margin: 2%;
    border-radius: 5%;
}

.resumeDiv:hover {
    box-shadow:0 0 10px black; 
}

a:hover {
    color: #DAA89B;
    text-decoration: none;
}